.header{
    grid-area: h;
    background-color: darkgrey;
    border: 1px solid black;
}
.item{
    display: inline-block;
    width: 50%;
    height: 100%;
    font-size: 40px;
    text-align: center;
}
.a{
    text-decoration: none;
    color: black;
}
.item .a.active{
    color: gold;
}