.content{
    width: 40%;
    height: 200px;
    margin: 0 auto;
    margin-top: 150px;
}

.btn{
    width: 100px;
    height: 50px;
    margin-left: 12%;
    margin-top: 10px;
}

.timer{
    margin-left: 45%;
    margin-top: 70px;
    font-size: 50px;
}
