.app-wrapper{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 70px 625px;
    grid-template-areas: 
    "h h"
    "c c"
}

.content{
    grid-area: c;
    border: 1px solid black;
    background-color: azure;
}