.dialogs{
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.dialogsItems{
    border: 1px solid black;
    padding: 10px;
}
.a{
    text-decoration: none;
    color: darkred;
}
.a:hover{
    text-decoration: underline;
}
.dialog{
    
}

.messages{
    border: 1px solid black;
    padding: 10px;
}
.messages__persone{
    
}
.message{
    
}